:root {
  --color-bg: #011627;
  --color-bar-primary: #9b9bfd;
  --color-bar-secondary: #ffaa90;
  --color-text-primary: #f99c08;
}

.lcars {
  color: var(--color-text-primary);
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.lcars .top {
  background-color: var(--color-bar-primary);
  border-top-left-radius: 40px;
  display: flex;
  justify-content: end;
  height: 56px;
}

.lcars .title {
  background-color: var(--color-bg);
  padding-left: 16px;
  font-size: 74px;
  line-height: 58px;
}

.lcars .bottom {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.lcars .left {
  background-color: var(--color-bar-primary);
  width: 250px;
  display: flex;
  justify-content: end;
}

.lcars .left::after {
  display: block;
  content: "";
  width: 40px;
  background-color: var(--color-bg);
  border-top-left-radius: 40px;
}

.lcars .left ul {
  flex: 1;
  margin-top: 50px;
}

.lcars .left li:first-child {
  border-top: 5px solid var(--color-bg);
}

.lcars .left li {
  background-color: var(--color-text-primary);
  border-bottom: 5px solid var(--color-bg);
  color: var(--color-bg);
  padding: 8px;
}

.lcars .left li.spacer {
  background-color: var(--color-bar-primary);
  height: 48px;
}

.lcars .left li.button {
  background-color: var(--color-bar-secondary);
  cursor: pointer;
  padding: 0;
}

.lcars .left li.button:hover {
  filter: brightness(115%);
}

.lcars .left li.button a {
  display: block;
  padding: 8px;
}

.lcars main {
  margin-top: 16px;
}
