.star-chart .axis .domain {
  display: none;
}

.star-chart .axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.star-chart {
  user-select: none;
  font-family: ui-sans-serif, system-ui;
  font-weight: normal;
}

.star-chart .view {
  /* fill: url(#gradient); */
  fill: black;
  stroke: #000;
}

.star-chart .chart-item-label {
  stroke: white;
  font-size: 12px;
}

.star-chart .chart-item > circle:hover {
  cursor: pointer;
  stroke-width: 10;
}

.star-chart .moons-group {
  animation-duration: 35s;
  animation-name: moonmoon;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.star-chart .moons-group.stations-group {
  animation-duration: 5s;
}

.star-chart .moons-orbit {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.3);
}

@keyframes moonmoon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
