.star-chart .axis .domain {
  display: none;
}

.star-chart .axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.star-chart {
  user-select: none;
  font-family: ui-sans-serif, system-ui;
  font-weight: normal;
}

.star-chart .view {
  /* fill: url(#gradient); */
  fill: black;
  stroke: #000;
}

.chart-item-label {
  stroke: white;
  font-size: 12px;
}

.star-chart circle:hover {
  cursor: pointer;
  stroke-width: 10;
}
