html,
body {
  background-color: #011627;
  color: #fffef5;
}

.star-chart .axis .domain {
  display: none;
}

.star-chart .axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

.star-chart {
  user-select: none;
}

.star-chart .view {
  /* fill: url(#gradient); */
  fill: black;
  stroke: #000;
}
